rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /mesas/{mesaId} {
      allow read: if true;
      allow write: if true;
    }

    match /historico/{historicoId} {
      allow read, write: if true;

      match /registros/{registroId} {
        allow read, write: if true;
      }
    }

  }
}